button.large-button {
  padding: 2rem 3rem;
  align-items: flex-start;

  svg {
    font-size: 1.3em;
    margin-right: 0.5em;
    margin-top: 0.47rem;
    flex-shrink: 0;
  }

  & > div {
    text-align: left;
  }

  .label {
    font-size: 1.5rem;
    display: block;
  }
}
