@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import './assets/vars.scss';

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background: #e9f0e1;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: $border;
  border-radius: $border-radius;
  background: white;
  display: flex;
  align-items: center;
  transition: background 0.1s linear;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }
}

* {
  box-sizing: border-box;
}
